spring:
  application:
    name: SpringBootFundamental

server :
  port : 8085

management :
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
