server :
    port : 8082

logging :
  level:
    root: DEBUG
    com.example.springbootfundamental: TRACE

management :
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always